body{
    background-color: #8cb6ff;
}

div{
    color: #ffffff;
    background-color: #3c4e66;
    border-radius: 10px; /* 角丸 */
    width: 90%;
    margin: auto;
    max-width: 700px;
    margin-bottom: 10px;
    min-width: 120px;
}

h1{
    font-size: 38px;
    text-align: center;
    margin: 20px;
    padding: 10px;
    word-break: break-all;
}

h2{
    font-size: 28px;
    text-align: left;
    margin: auto;
    width: 90%;
    position: relative;
    margin-bottom: 15px;
    padding-top: 10px;
    word-break: break-all;
}

h2::before{
    content: "";
    width: 100px;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #ffffff;
}

p{
    font-size: 18px;
    text-align: left;
    margin: auto;
    width: 90%;
    height: 90%;
    padding-bottom: 10px;
}

a{
    color: #d4e4ff;
    word-break: break-all;
}

img.icon{
    display: flex;
    border-radius: 50%;
    margin: auto;
    margin-right: 10px;
    width: 40%;
    height: 40%;
    max-width: 150px;
    max-height: 150px;
    padding: 10px;
}

img.banner{
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 20%;
    max-width: 300px;
    min-width: 200px;
}

small{
    color: #546d8d;
}

footer{
    color: #3c4e66;
    text-align: center;
    margin: auto;
    word-break: break-all;
}

.profileblock{
    display: flex;
}

.profile{
    display: block;
    margin: auto;
    padding-left: 10px;
}